{
  "extends": ["react-app"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "no-debugger": "error",
    "no-alert": "error",
    "no-console": "warn",
    "react/destructuring-assignment": "off",
    "no-underscore-dangle": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "no-nested-ternary": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx", ".jsx"] }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-empty-interface": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}
